rich==14.2.0
PySide6==6.10.0
tomlkit==0.13.3
numpy==2.3.4
keyboard==0.13.5
clipman==3.3.3
sounddevice==0.5.3
websockets==15.0.1
pypinyin==0.55.0
watchdog==6.0.0
typer==0.20.0
srt==3.5.3
httpx==0.28.1
qt-material==2.17
pycaw==20251023
pywin32==311
qrcode==8.2
opencc-python-reimplemented==0.1.7
loguru==0.7.3